.header-container{
    background-color: white;
    height: 60px;
    padding-left: 20px;
    box-shadow: 0px 1px 4px lightblue;
    display: flex;
    align-items: center;
    font-size: 27px;
    gap:20px;
    
}
.header-container img{
    width: 23px;
    height: 22px;
    
    
}
.header-container p{
    font-family: inherit;
    font-size: 23px;
    font-weight: 600;
}
.header-container button{
    color:none;
    background:none;
    border:none;
    border-radius:50%;
    display: none;
    padding:5px 7px
}
.header-container button:hover{
    background:rgb(238, 238, 238);
    cursor:pointer;
}

@media (max-width: 700px) {
    .header-container button {
        display: block;
        
    }
}
